{% extends 'bootstrap/base_boot-strap.html' %}
{% load staticfiles %}
{% block title_block %}
	{{ albums.title }}
{% endblock %}

{% block body_block %}
<div>
<br/>
{% if albums %}
<h1>Title: "{{ albums.title }}"</h1> <img height=250 src={{ albums.image.url }}>
<h2>Artist: "{{ albums.artist }}"</h2>
<h3>Genre: {{ albums.genre }}</h3>


<h3>Average Rating: {{ albums.get_rating}}</h3>
<h1>Reviews:</h1>
	{% for review in reviews %}
	{{review.username}} Rating: {{review.rating}} </br>
	{{review.review}} </br>
	
	{% endfor %}
	{% if user.is_authenticated %}
		<a href="{% url 'add_review' albums.slug %}">Add a Review</a>
	{% endif %}
	{% if user.is_anonymous %}
		</br><a href="{% url 'login' %}">Login to review album</a>
	{% endif %}
	</div>
{% else %}
	The specified album does not exist!
{% endif %}
	
	
{% endblock %}